*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#hedder{
    height: 100vh;
    background-image: url(images/121210259-development-mobile-search-application-cartoon-flat-vector-illustration-on-white-background-men-use-v.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.hedder-text{
    max-width: 300px;
    margin-top: 35px;
}
h1{
    font-size: 30px;
    color: #10299f;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #ec2e5c;
    margin: 15px 0;
}
.comman-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #ec2e5c;
    font-weight: bold;
    cursor: pointer;
}
p{
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #10299f;
}
.hedder-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #ec2e5c;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #ec2e5c;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #ec2e5c;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #ec2e5c;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    border-radius: 50px;
    z-index: 2;
    cursor: pointer;
}

/* About section */

#about,#offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: ;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 130px;
    display: inline-block;
}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
    color: #10299f;
}
.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #65a4eb;
}

/*--features section--*/

#features{
    padding-top: 50px
    padding-bottom: 50%;
}
.features-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fetures-col{
    flex-basis: 25%;
    text-align: center;
}
.fetures-col img{
    width: 100px;
    height: 120px;
}
.fetures-col h4{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #10299f;
}
.fetures-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.fetures-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
#courses{
    padding: 100px 0;
}
.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
}
.course-text{
    max-width: 350px;
}
.course-text button{
    margin: 30px 0;
}

/*-- offer section --*/

#offer button{
    margin: 30px 0;
}

/* contact section */

.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col, .contact-right-col{
    flex-basis: 50%;
}
.contact-right-col img{
    width: 100%;
}
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #ec2e5c;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}

/*-- footer section --*/

#footer{
    padding: 50px 0 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #ec2e5c;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #ec2e5c;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
}
.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 100px;
}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.footer-logo,.copyright-text{
    flex-basis: 40%;
}

/*  Social icons Sections  */

.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media only screen and (max-width: 770px){
    #hedder{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    .hedder-text{
        margin-top: 100px;
    }
    h1{
        font-size: 25px;
        color: #10299f;
    }
    #menuBtn{
        width: 40px;
        right: 50px;
        border-radius: 50px;
    }
    .comman-btn{
        padding: 10px 16px;
    }
    .social-icons img{
        width: 14px;
        margin: 15px auto;
    }
    .about-left-col,.about-right-col{
        flex-basis: 100%;
    }
    .about-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        font-size: 18px;
        color: #10299f;
    }
    .fetures-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contact-left-col, .contact-right-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        margin-top: 50px;
    }
    .footer-left-col,.footer-right-col{
        flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}